/* Set Background & Set Fonts */



body {
    background-image: url("./assets/pexels-jan-kopřiva-5899211.jpg");
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-repeat: no-repeat;
  background-size: cover;
}

/* Set color (text) */
body {
    color: whitesmoke
}

h1 {
    color: rgb(108, 173, 43);
    text-align: center;
}

button {
    background-color: rgba(0, 0, 0, 0.007);
    color: whitesmoke;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 10px;
}

/* Set Styling for Divs */

.Instructions {
    height: 10em;
    margin: 5px;
    width:25em;
    border-radius: 25px;
    border: 2px solid whitesmoke;
    position: absolute;
    top: 10%;
    left: 73%;
    margin-top: 10px;
    margin-left: -50px;
}


.Side_Menu {
    padding: 3px;
    height: 9em;
    margin: 5px;
    width:7em;
    text-align: center;
    border-radius: 25px;
    border: 2px solid whitesmoke;
}



#game_board {
  
    position: absolute;
    top: 20%;
    left: 20%;
    margin-top: -50px;
    margin-left: -20px;
    margin-right: 20px;
    
    border: 4px solid rgb(7, 204, 7);
}

#timer {
    text-align: center;
    height: 2em;
    margin: 15px;
    padding: 15px;
    width:6em;
    border-radius: 25px;
    border: 2px solid whitesmoke;
    position: absolute;
    top: 32%;
    left: 4%;
    margin-top: 10px;
    margin-left: -50px;
}


