/* Set Background & Set Fonts */



body {
    background-image: url("./assets/pexels-jan-kopřiva-5899211.jpg");
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-repeat: no-repeat;
  background-size: cover;
}

/* Set color (text) */
body {
    color: whitesmoke
}

h1 {
    color: rgb(108, 173, 43);
    text-align: center;
}


/* Set Styling for Divs */

.Instructions {
    height: 10em;
    margin: 5px;
    width:23em;
    border-radius: 25px;
    border: 2px solid whitesmoke;
    position: absolute;
    top: 10%;
    left: 73%;
    margin-top: 10px;
    margin-left: -50px;

}


.Side_Menu {
    height: 15em;
    margin: 5px;
    width: 3em;
    text-align: center;
    border-radius: 25px;
    border: 2px solid whitesmoke;
}



#game_board {
    /* background-color: rgb(221, 190, 103);  */
    position: absolute;
    top: 20%;
    left: 20%;
    margin-top: -50px;
    margin-left: -20px;
    margin-right: 20px;
     /* width: 500px;
    height: 500px;
    display:grid;
    grid-template-rows: repeat(20, 1fr);
    grid-template-columns: repeat(20, 1fr);  */
    border: 2px solid rgb(7, 204, 7);
}

/* Old Method of creating Snake and Food:

#Square  {
    height: 25px;
    width: 25px;
    background-color: rgb(108, 173, 43);
    grid-row-start: 15;
    grid-column-start: 15;
    object-fit: cover;
    opacity: 1;
    z-index: 2;
}

#Food  {
    height: 25px;
    width: 25px;
    background-color: rgb(241, 134, 10);
    grid-row-start: 7;
    grid-column-start: 7;
    object-fit: cover;
    opacity: 1;
    z-index: 2;
} */
